.btn {
  border:none;
  background: #27AE60;
  border-radius: 3px;
  color:white;
  cursor: pointer;
}

.btn-icon-search {
  width: 100%;
  height: auto;
  border:none;
  background: transparent;
  cursor: pointer;
}

.btn-review {
  width: 145px;
  padding: 10px 5px;
  font-size: 0.812rem;
  justify-content: center;
}

.btn-search {
  width: 116px;
  height: 38px;
  padding: 0 32px;
  line-height: 38px;
  margin-top: 10px;
  font-weight: 700;
}

.btn-post {
  display: inline-block;
  margin-top: 52px;
  font-size: 0.938rem;
  padding: 12px 56px 12px 32px;
  background-image: url('../images/svg/arrow-right.svg');
  background-position: 119px center;
  background-repeat: no-repeat;
}

.read-all {
  color:$blue;
  text-decoration: underline;
}

.btn-show {
  padding: 12px 32px;
}

.btn-social {
  width: 160px;
  height: 54px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 5px 20px rgba(126, 126, 126, 0.25);
  border-radius: 8px;
  transition: background-color 0.6s ease,
              background-image 0.8s ease;
  margin: 32px 0;
}

.btn-facebook {
  padding: 17px 30px;
}

.btn-facebook:hover {
  background-color: #1877F2;

  & svg path{
    fill:white;
  }
}

.btn-class {
  width: 160px;
  background: url('../images/svg/class-orange.svg') no-repeat center;
}

.btn-class:hover{
  background: url('../images/svg/class-white.svg') no-repeat center,#ED812B ;
}

.btn-vk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  //width: 160px;
}

.btn-vk:hover{
  background-color: #2787F5;
  & .vk-icon {
    background-color: #4199FF;
  }

  & svg path {
    fill:white;
  }
}

.btn-send {
  font-size: 15px;
  //margin-top: 16px;
  padding: 12px 47px;
}

.btn--white {
  background: #ffffff;
  color:$gray;
  font-size: 15px;
  line-height: 1.2;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.btn-map {
  height: 42px;
  line-height: 42px;
  position: absolute;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-left: 48px;
  padding-right: 24px;
  background:url('../images/svg/local-red.svg') no-repeat 27px center,  #ffffff;
  cursor: pointer;
}

.link-back {
  color:$blue;
  position: relative;
  display: none;
  margin-left: 15px;
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 13px;
}

.link-back:before {
  position: absolute;
  content: '';
  background: url("../images/svg/arrow-blue.svg") no-repeat center;
  width: 10px;
  height: 7px;
  top: 3px;
  left: -13px;
}

.link--blue {
  color:$blue;
  font-size: 13px;
  font-weight: 600;
}

.modal-link {
  margin: 8px 0;
  text-align: right;
}

.btn--grey {
  background: #E0E0E0;
  color:$title-color;
}
