@import "../css/fonts/font.css";

:root{
 font-size: 1rem;
 box-sizing: border-box;
}

*,
*::before,
*::after { box-sizing: border-box; }

body {
 max-width: 1920px;
 margin: 0 auto;
 height: 100%;
 scroll-behavior: smooth;
 text-rendering: optimizeSpeed;
 line-height: 1.2;
 background-color: white;
 font-family: 'Proxima Nova','Arial',sans-serif;
 font-style: normal;
 overflow-x: hidden;
}

a {
 text-decoration: none;
 color:inherit;
}

ul[class],
ol[class] {
 list-style: none;
 padding: 0;
 //margin: 0;
}

button,a {
 color:inherit;
 cursor: pointer;
}

input,
button,
textarea,
select {

 font: inherit;
 outline: none;
}

h1,h2,h3,h4,h5,h6{
 margin: 0;

}

p {
 margin: 0;
}

img {
 max-width: 100%;
 object-fit: cover;
}

.container {
 max-width: 1120px;
 padding: 0 5px;
 margin: 0 auto;
}

$gray:#4F4F4F;
$title-color:#333333;
$blue:#2F80ED;
$green:#27AE60;

.wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-top: 70px;
}

.content-wrap {
 max-width: 730px;
 flex-grow: 2;
}

.selections-wrap {
 max-width: 635px;
 flex-grow: 2;
}

.sidebar{
 max-width: 265px;
 padding: 0 5px;
}

.title {
 font-size: 3rem;
 color:$title-color;
 line-height: 1.1;
}

button {
 border:none;
 background: transparent;
}

.owl-carousel .owl-stage-outer {
 padding-bottom: 20px;
}

.img {
 border-radius: 8px;
}

@import "header";
@import "button";
@import "section/banner";
@import "section/project";
@import "section/scool";
@import "section/blog";
@import "section/review";
@import "section/social";
@import "pages/institution";
@import "pages/institutions";
@import "pages/user";
@import "pages/blog";
@import "pages/post";
@import "modal";

@import "footer";

@media screen and (max-width: 1024px){
 .wrapper {
  justify-content: center;
 }
 .reclama--full, .blog-page .reclama--left{
  display: none;
 }


 .blog-page .content-wrap,.post  {
  margin: 0 auto;
 }
}

@media screen and (max-width: 991px){
 .header__region, .header .logo__text {
  display: none;
 }

 .header{
  flex-wrap: wrap;
 }

 .social-inner {
  justify-content: center;
 }

 .col-1 {
  order:2;
  width: 50%;
 }

 .block-menu {
  order: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 10px;
 }

 .promolab {
  order:3;
  width: 50%;
 }

 .post .reclama--left{
  display: none;
 }


}

@media screen and (max-width: 848px){
 .mobile-menu {
  display: flex!important;
 }
 .header__logo {
  order:1;
 }

 .header__check {
  display: none;
  margin-top: 20px;
  order:4;
  flex-basis: 100%;
 }

 .mobile-menu {
  order:3;
 }

 .btn-review {
  display: none;
  order:6;
 }


 .header__search{
  order:2;
 }

 .menu {
  display: none;
  order:5;
  flex-basis: 100%;

  &__item:not(:last-child) {
   margin-right: 0;
  }
  &__list {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
  }
 }

 .header.active {
  & .header__check,
  & .menu,
  & .btn-review {
   display: flex!important;
   margin-left: 10px;
  }
 }
 .project__inner {
  flex-wrap: wrap;
  //justify-content: center;

 }

 .banner__search {
  flex-wrap: wrap;
  justify-content: center;
 }


}

@media screen and (max-width: 648px) {
 .form-header {
  right: 0;
  left:100%;
  transform: translateX(-70%);
 }

 .banner__search select,
 .banner__search input,
 .banner__search button {
  width: 290px;
 }

 .banner__title {
  text-align: center;
  padding: 124px 10px 0;
 }
 .social__img {
  display: none;
 }

 .social__box-icon {
  justify-content: center;
 }

 .btn-social {
  width: 290px;
  margin: 12px 0;
 }

 .btn-vk {
  justify-content: center;
 }

 .sidebar-selections {
  display: none;
 }

 .user-date__item {
  .selection__item {
   flex-wrap: wrap;
   justify-content: center;
  }
 }

 .user-date__item:not(:first-child) {
  margin-top: 32px;
 }

}

@media screen and (max-width: 440px) {
 .banner__title {
  font-size: 36px;
 }

 .title,.modal-enter__title {
  font-size: 24px;}

.blog__item--big {
 display: none;
}
 .block-menu {
  margin: 0 10px;
  & .footer__column {

   flex-basis: 50%;
   justify-items: flex-start;
  }

 }

 .blog__search {
  justify-content: center;

  & button {
   width: 290px;
  }

  & input[type='search'] {
   margin: 10px 0 0;
  }
 }

 .col-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  & .copyright {
   flex-basis: 100%;
  }

  & img {
   display: block;
   max-width: 104px;
   object-fit: cover;
  }
  & .icon-box{
   flex-basis: 50%;
  }
 }

.select{
 flex-grow: 1;
}

 .selection__item {
  margin-bottom: 24px;
 }

 .user {
  flex-direction: row;
  //flex-wrap: wrap;
 }
 .breadcrumbs {
  display: none;
 }

 .link-back {
  display: block;
 }

 .post .review__form {
  & .wrap-button {
   max-width: 100%;
   flex-grow: 2;
   margin-left: 0;
  }

  & .wrap-button button{
   margin-top: 24px;
   order:2;
  }

 }
}
