.blog__search {
  justify-content: flex-start;
  flex-wrap: wrap;
  & input[type='search'] {
    margin: 10px 24px 0 0;
  }
}


.blogs {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  &__item {
    max-width: 228px;

  }

  &__title {
    font-size: 17px;
    color:$title-color;
    margin-bottom: 8px;
  }

  &__text{
    font-size: 13px;
    line-height: 1.4;
    color:$gray;
    padding-bottom: 12px;
  }
}
