
.gallery-page__wrap {
  margin-top: 110px;
  margin-bottom: 157px;
  display: flex;
  align-items: flex-start;



}

.btn-back {
  background: #828282;
  border-radius: 3px;
  color:white;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 24px;
  height: 36px;


}
.gallery-page {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

.close {
  display: none;
  position: absolute;
  right: 0;
  top: 80px;
}

#gallery-carousel {
  text-align: center;
  position: relative;
  & .img__gallery {
    max-width: 500px;
    text-align: center;
    & img {
      border-radius: 8px;
    }
  }
}

#gallery-carousel.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery-carousel .owl-prev,
#gallery-carousel .owl-next{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  & span {
    color:#BDBDBD;
  }
}

#gallery-carousel .owl-prev {
  position: absolute;
  top: calc(50% - 24px);
  left: -40px;
}

#gallery-carousel .owl-next {
  position: absolute;
  top: calc(50% - 24px);
  right: -40px;
}


.slider-counter {
  color:$title-color;
  font-size: 17px;
}

.gallery-flex {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
  max-width: 906px;

  & svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
  }
}

.gallery-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 732px;


  & img {
    max-width: 228px;
    border-radius: 8px;
    padding: 12px;
  }

}
@media screen and (max-width: 768px) {
  .btn-back {
    display: none;
  }

  .close {
    display: block!important;
  }

  #gallery-carousel .owl-prev {
    position: absolute;
    top: 100%;
    left: 40px;
  }

  #gallery-carousel .owl-next {
    position: absolute;
    top:100%;
    right: 40px;
  }

}
