.map {
  margin-top: 110px;
  margin-bottom: 100px;

  & .map-block {
   max-width: 1110px;
    height: 100%;
    position: relative;

    & iframe {
      border-radius:8px;
      border:none;
      height: 482px;
    }
  }
  & .selections-box {
    justify-content: start;
  }

  & .selections-box .select:last-child {
    width: 275px;
    flex-grow: 0;
  }
}

.map__popup {
  max-width: 514px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 8px;
  position: absolute;
  bottom: 40px;
  left: 100px;
  z-index: 10;
  background: #ffffff;
}

.map__img {
  padding: 16px;
  max-width: 211px;
  width: 100%;
}

.map__text {
  padding: 16px;
  font-size: 13px;
  max-width: 280px;
  width: 100%;
  & .selection__title {
    margin-top: 0;
    font-size: 13px;
  }

  & .block-rating {
    margin: 16px 0 0;

    & .rating {
      padding: 0;
    }
    & .grade {
      font-size: 19px;
    }
    & .rating-item {
      width: 20px;
    }
  }

  & .adress__item {
    margin-bottom: 0;
  }

  & .adress__item p {
    font-size: 13px;
    margin-left: 0;
    margin-top: 16px;
  }
}

@media screen and (max-width: 648px){
  .map__popup {
    left: 5px;
    bottom: 5px;
    max-width: 290px;
  }

  .map .selections-box .select:last-child {
    flex-grow: 1;
  }
}
