.project {
  background: white;
  font-size: 0.937rem;
  padding: 6.4em 0;
}

.project__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__img {

  max-width: 540px;

  & img {
    border-radius: 8px;
  }
}

.project__content {
  max-width: 445px;
  margin: 0;

  & p {
    color:$gray;
  }

  & p:nth-child(odd){
    margin: 20px 0;
  }

}

.project__title {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 16px;
}
