.project {
  background: white;
  font-size: 15px;
  padding: 96px 0;
}

.project__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__img {

  max-width: 540px;

  & img {
    border-radius: 8px;
  }
}

.project__content {
  max-width: 445px;
  margin: 0;
  padding: 10px;


  & p {
    color:$gray;
  }

  & p:nth-child(odd){
    margin: 20px 0;
  }

}

.project__title {
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 16px;
}

.project__title--mobile {
  display: none;
  margin-bottom: 16px;
  width: 100%;

}
