.social{
  padding: 96px 0;
  background: white;
}

.social-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__img{
  width: 445px;
  margin-right: 151px;

}

.social__box-icon {
  width: 540px;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.social-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
}

.vk-icon {
  background: #2787F5;
}
